
  @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Manrope:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 17px;               
  }
  
  body::-webkit-scrollbar-track {
    background: #24153a;      
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #9f62e4;   
    border-radius: 15px;  
    border: 2px solid #2a265a;  
  }

  body {
    background-color: rgb(255, 255, 255);
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Manrope', sans-serif;
}
.background {
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/t2/13437202-fundo-de-desfoque-de-rosa-claro-e-azul-vetor.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    background-color: rgb(39, 39, 255);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    background-color: rgba(0, 0, 0, 0.628);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.logo img {
    width: 140px;
    height: auto;
    margin-left: 5rem;
}

nav ul li:hover{
    transform: scale(1.15);
    transition: .2s;
    color: #8e37c8;
}


nav ul:hover{
    transition: .2s;
    color:#8e37c8;
}

li a:hover{
    color: #8e37c8;;
    transition: .2s;
}

nav ul li{
    text-transform: uppercase;
    transition: .2s;
    display: inline-block;
    line-height: 80px;
    margin: 25px;
    font-size: 25px;
}
nav ul li a{
    color: white;
    border-radius:4px;
    text-decoration: none;
}

ul:hover{
    color: #71c837;
}


.C-icon {
    margin-right: 5rem;
}

.Icone ion-icon {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    cursor: pointer;
    padding: 30px;
}

hr {
    border-bottom: solid 0.1px;
    color: rgb(42, 24, 143);
    margin-top: 15px;
}

header {
    margin-top: 10rem;
}

header h1 {
    color: rgb(13, 3, 102);
    font-size: 3rem;
}

header p {
    color: rgb(0, 163, 63);
    list-style: 2rem;
    font-size: 1.5rem;
    font-weight: 100;
}


.botao1 a {
    display: block;
    width: 250px;
    height: 45px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    margin-top: 20px;
}

.botao1 a span {
    position: relative;
    z-index: 2;
}

.botao1 a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #CE2DDD;
    transition: all .35s;
}

.botao1 a:hover {
    color: #fff;
}

.botao1 a:hover:after {
    width: 100%;
}

h1.destaque {
    margin-bottom: 25px;
}

h1.destaque span {
    color: #CE2DDD;
}


img.img_ajuste {
    object-fit: fill;
    border-radius: 0px 8px 0 0;
}

img {
    width: 100%;
}

.container {
    width: 1400px;
    max-width: 100%;
    margin: 10% 0 0 10%;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;

}

.col-5 {
    width: 41.65;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.31%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.3%;
}

.col-11 {
    width: 91.63%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding-right: 2px;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

footer {
    background-color: rgb(78, 78, 78);
    padding: 15px;
    text-align: center;
    margin-top: 5px;
}


/*BANNER JOGOS*/
#carousel {
    height: 700px;
    margin: 0%;
}

#carousel img {
    height: 700px;
    object-fit: cover;
    
}


/* BANNER JOGOS FIM */



main h1 {
    text-align: center;
    align-items: center;
    color: rgb(69, 116, 218);
    font-size: 3rem;
    padding-top: 5px;
}

main span {
    color: rgb(31, 0, 102);
}
main .col-4:hover {
    transform: scale(1.1);
    transition: .3s;
}
main .col-4 img {
    aspect-ratio: 8/9;
    object-fit: contain;
}

#banner2{
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.281),rgba(0,0,0,0.308)), url(http://videira.ifc.edu.br/tecnico-informatica/wp-content/uploads/sites/18/2020/10/20191031_141250_49023916946_o.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}.texto .titulo{
    color: white;
    font-size: 60px;
    font-weight: 600px;
}

.texto .subtitulo{
    color: white;
    font-size: 40px;
    font-weight: 600;

}
.texto .subsubtitulo{
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding-top: 6px;

}

.btn {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ffffff;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #725AC1;
  }
  
  .btn:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #5134b1;
  }
  
  .btn:active {
    transform: scale(0.9);
  }